.side-bar{
  height: 100vh;
  width: 300px;
  float: left;
  background-color: $side_blue_dark;
  .side-bar__user-name{
    height: 100px;
    background-color: $side_blue_dark;
    align-items: center;
    display: flex;
    padding: 0 20px;
    .side-bar__box{
      display: flex;
      color: $white;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      .side-bar__box__menu{
        float: right;
        display: flex;
        text-align: right;
        color: $white;
        .side-bar__box__menu__new-group{
          margin-right:5px;
          .fa-edit {
            color: $white;
          }
        } 
          .fa-cog {
          color: $white;
          }
      }
    }
  }
  .side-bar__guoups{
    height: calc(100vh - 100px);
    background-color: $side_blue_light;
    padding: 20px;
    .side-bar__guoup{
      margin-bottom: 40px;
      .side-bar__guoup__name{
        font-size: $side_group_name;
        margin-bottom: 5px;
        color: $white;
      }
      .side-bar__guoup__message{
        font-size: $side_group_message;
        color: $white;
      }
    }
  }
}

